* {
  font-family: "Roboto", sans-serif;
}
body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.btn1 {
  border: 2px solid #e2e0d7;
}

.outer {
  display: flex;
  margin: auto;
  width: 30vw;
  height: 36vh;
  margin-top: 30vh;
}
.inner {
  background-color: blue;
  width: 100%;
  height: 83%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1.5px;
  font-weight: bold;
}

.title-bar-text {
  font-size: 16px;
  padding-left: 5px;
}

.body_inner {
  height: 87%;
  width: 98.5%;
  display: flex;
  margin: auto;
  flex-direction: column;
  background-color: #ece9d8;
}
.body_inner_space {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.body_inner_input {
  width: 22.5vw;
  height: 16.5vh;
  margin-left: 5px;
  margin-top: 3px;
}
.body_inner_button {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  margin-right: 5px;
}
.body_inner_button > button {
  margin-bottom: 12px;
  margin-left: 8px;
  width: 5vw;
}
.body_inner_area {
  display: flex;
  flex-direction: column;
}
.body_inner_title {
  font-weight: bold;
  padding: 8px 5px 0px 5px;
}
.body_button {
  display: flex;
  justify-content: flex-end;
}
.body_button > button {
  margin: 12px 9px;
  width: 5vw;
}
button {
  font-size: 12.5px;
}
.close {
  border: 2px solid #487397;
}

textarea {
  resize: none;
  border: 1px solid #587e9e;
}

.underline {
  text-decoration: underline;
}

.btn {
  border: none;
  border: 2px solid #dbd8cc;
  border-radius: 5px;
}

